*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background: linear-gradient(160deg,#163359,#22416c,#1c3d68);
    position:relative;
    overflow:hidden;
}

body::before{
    content:"";
    position:absolute;
    width:500px;
    height:500px;
    background: radial-gradient(circle,rgba(255, 106, 47, 0.816),transparent 70%);
    top:-150px;
    right:-150px;
}

body::after{
    content:"";
    position:absolute;
    width:400px;
    height:400px;
    background: radial-gradient(circle,rgba(255, 106, 47, 0.816),transparent 70%);
    bottom:-150px;
    left:-150px;
}

.store-title{
    font-size:42px;
    font-weight:900;
    letter-spacing:3px;
    margin-bottom:25px;
    background: linear-gradient(90deg,#ffffff,#ff6a2f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 25px rgba(255,106,47,0.4);
    z-index:2;
}

.container{
    width:380px;
    padding:40px 35px;
    border-radius:18px;
    background: rgba(255, 255, 255, 0.074);
    backdrop-filter: blur(14px);
    border:1px solid rgba(255,255,255,0.15);
    box-shadow:0 20px 50px rgba(0, 0, 0, 0.551);
    z-index:2;
}

.title{
    text-align:center;
    color:white;
    font-size:22px;
    margin-bottom:25px;
    font-weight:bold;
    letter-spacing:1px;
}

.tabs{
    display:flex;
    justify-content:space-between;
    margin-bottom:25px;
}

.tabs button{
    width:48%;
    padding:10px;
    border:none;
    border-radius:25px;
    background:transparent;
    color:white;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

.tabs button.active{
    background:#ff6a2f;
}

form{
    display:flex;
    flex-direction:column;
}

input{
    padding:12px;
    margin-bottom:15px;
    border-radius:8px;
    border:1px solid rgba(255,255,255,0.25);
    background:rgba(255,255,255,0.08);
    color:white;
    font-size:14px;
}

input::placeholder{
    color:#dcdcdc;
}

.submit-btn{
    padding:12px;
    border:none;
    border-radius:25px;
    background:#ff6a2f;
    color:white;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

.submit-btn:hover{
    background:#ff8533;
}

.hidden{
    display:none;
}

@media(max-width:420px){
    .container{
        width:90%;
    }
}